@inherits LayoutComponentBase
@using MudBlazor
@inject IDialogService DialogService

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="1">
        <MudText Typo="Typo.h6">DevOpsAssistant</MudText>
        <MudSpacer />
        <MudNavMenu Dense="true" Class="d-flex">
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Href="work-items" Icon="@Icons.Material.Filled.List">Epics &amp; Features</MudNavLink>
        </MudNavMenu>
        <MudIconButton Icon="@Icons.Material.Filled.Settings" OnClick="OpenSettings" />
    </MudAppBar>

    <MudMainContent>
        <div class="p-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {

    private async Task OpenSettings()
    {
        await DialogService.ShowAsync<DevOpsAssistant.Components.SettingsDialog>("Settings");
    }
}
